@media (max-width: 1024px) {
    .page-header__contacts {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .btn {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .section-title {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 45px;
    }

    .page-header__search {
        width: 344px;
    }

    .page-header__contacts {
        display: none;
    }

    .main-menu {
        padding-top: 0;
        padding-bottom: 0;
    }

    .main-menu__toggle {
        display: block;
    }

    .main-menu__list {
        display: none;
    }

    .main-menu__item {
        margin-right: 0;
    }

    .main-menu__link {
        line-height: 50px;
    }

    .popular-products,
    .news,
    .our-partners {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .our-partners__item {
        width: 229px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .our-partners__item:nth-child(4n) {
        margin-right: 20px;
    }

    .our-partners__item:nth-child(3n) {
        margin-right: 0;
    }

    .our-partners__image {
        width: auto;
    }

    .page-footer__social {
        border: none;
    }

    .page-footer__call-btn {
        margin-top: 10px;
    }
}

@media (max-width: 540px) {
    .page-footer__menu {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 375px) {

    .page-header__logo,
    .page-header__search {
        margin-bottom: 10px;
    }

    .page-header__search {
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .product__image {
        width: 100%;
    }

    .our-partners__item {
        width: 100%;
        margin-right: 0;
    }

    .our-partners__item:nth-child(3n),
    .our-partners__item:nth-child(4n) {
        margin-right: 0;
    }

    .page-footer__menu {
        flex-direction: column;
        margin-top: 10px;
    }
}

@media (max-width: 340px) {
    .page-footer__inner {
        flex-direction: column;
    }

    .page-footer__logo {
        margin-bottom: 10px;
    }

    .page-footer__menu-item {
        margin-bottom: 10px;
        margin-right: 0;
    }
}
